<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Peliculas</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div th:insert="frag/nav"></div>
    <h2>Pagina de Peliculas</h2>
    <table>
        <tr>
            <th>Titulo</th>
            <th>Duracion</th>
            <th>Autor</th>
        </tr>
        <tr th:each="peli:${peliculas}">
            <td th:text="${peli.nombre}"></td>
            <td th:text="${peli.duracion}"></td>
            <td th:text="${peli.nombreUsuario}"></td>
        </tr>
    </table>
</body>
</html>